<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Clock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="clock.css">
</head>
<body>
    <div class="clock-container">
        <h1>Digital Clock</h1>
        <div class="digital-clock" id="clock">00:00:00</div>
        <div id="themeToggle">
            <i class="fas fa-moon" title="Toggle Dark Mode"></i>
        </div>
    </div>

    <footer>
        <p>Made with ❤️ by [ NaveeNS ]</p>
    </footer>

    <script src="clock.js">
      
    </script>
</body>
</html>
